<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>mp3-gasolineestore-jsp20-datasource</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>jdbcDriver</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>jdbcURL</param-name>
    <param-value>jdbc:mysql://localhost:3306/tumulak-3csa-ics114-db</param-value>
  </context-param>
  <context-param>
    <param-name>jndiLookUpKey</param-name>
    <param-value>java:/comp/env/jdbc/ICS114-3CSA-DS</param-value>
  </context-param>
  <context-param>
    <param-name>dbUserName</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>dbPassword</param-name>
    <param-value></param-value>
  </context-param>
  <servlet>
    <servlet-name>ProcessConversionServlet</servlet-name>
    <servlet-class>edu.ust.iics.gasolineestore.controller.ProcessConversionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListTransactionServlet</servlet-name>
    <servlet-class>edu.ust.iics.gasolineestore.controller.ListTransactionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessConversionServlet</servlet-name>
    <url-pattern>/processconversion.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListTransactionServlet</servlet-name>
    <url-pattern>/viewalltransaction.html</url-pattern>
  </servlet-mapping>
</web-app>